
<table>
  <tr>
    <td>Company</td>
    <td><%=@job.company_id%></td>
  </tr>
  <tr>
    <td>Job Type</td>
    <td><%=@job.job_type_id%></td>
  </tr>
  <tr>
    <td>Role</td>
    <td><%=@job.role_id%></td>
  </tr>
  <tr>
    <td>Vacancy</td>
    <td><%=@job.vacancy%></td>
  </tr>
  <tr>
    <td>Description</td>
    <td><%=@job.description%></td>
  </tr>
  <tr>
    <td>Salary</td>
    <td><%=@job.salary%></td>
  </tr>
  <tr>
    <td>Address</td>
    <td><%=@job.address%></td>
  </tr>
  <tr>
    <td>Experience</td>
    <td><%=@job.experience%></td>
  </tr>
  <tr>
    <td>Start Date</td>
    <td><%=@job.start_date%></td>
  </tr>
  <tr>
    <td>End Date</td>
    <td><%=@job.end_date%></td>
  </tr>
  <tr>
    <td>Status</td>
    <td><%=@job.status%></td>
  </tr>
</table>
